__pycache__/
*.py[cod]
.venv/
venv/
.env
.ipynb_checkpoints/
data/raw/*
data/bronze/*
data/silver/*
data/gold/*
data/processed/*
!data/raw/.gitkeep
!data/bronze/.gitkeep
!data/silver/.gitkeep
!data/gold/.gitkeep
!data/processed/.gitkeep
*.pkl
*.joblib
.DS_Store
